/* ===== ESTILOS GENERALES ===== */
body{
    background: #0e1621;
    color: white;
    font-family: Arial;
    text-align: center;
    margin: 0;
}

header{
    background: linear-gradient(120deg,#1b3cff,#6a11cb);
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

header h1{
    margin: 0;
    font-size: 2.5rem;
}

header p{
    margin: 5px 0 0 0;
}

/* ===== PRODUCTOS ===== */
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 10px;
}

/* ===== CARD ESTILO FLIP ===== */
.card{
    width: 250px;
    height: 350px;
    perspective: 1000px;
    position: relative;
}

.card-front, .card-back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: transform 0.6s;
}

/* FRONT */
.card-front{
    background: #16202c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-front img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

/* BACK */
.card-back{
    background: #1b1f2c;
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover .card-front{
    transform: rotateY(180deg);
}

.card:hover .card-back{
    transform: rotateY(0deg);
}

.card h2{
    margin: 10px 0 5px 0;
}

.card p{
    font-size: 0.9rem;
    line-height: 1.5;
}

.card h3{
    margin: 10px 0 5px 0;
}

button{
    width: 90%;
    padding: 10px;
    margin-bottom: 8px;
    background: #6a11cb;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    background: #2575fc;
    transform: translateY(-3px);
}